name: Sync with Hugging Face Hub

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Sync with Hugging Face
      uses: nateraw/huggingface-sync-action@v0.0.4
      with:
        github_repo_id: jpruzcuen/llm_finetuning
        huggingface_repo_id: jpruz/iris
        repo_type: space
        space_sdk: gradio
        hf_token: $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